@model IEnumerable<georgianComputers.Models.Product>
@{
    ViewData["Title"] = "Shop ate GC Computers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Please chose a Product</h1>

<ul>

    @foreach (var product in Model)
	{
        <li> 
            <a asp-controller="Store" asp-action="Details" asp-route-product="@product.Name"> @product.Name </a> 
        </li>
	}

    @*<li>
        <a asp-controller="Store" asp-action="Details" asp-route-product="Product 1">Product 1</a>
    </li>
    <li>
        <a asp-controller="Store" asp-action="Details" asp-route-product="Product 2" >Product 2</a>
    </li>
    <li>
        <a asp-controller="Store" asp-action="Details" asp-route-product="Product 3" >Product 3</a>
    </li>*@

</ul>

