
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>About Our Store</h1>

<div class="container">


    <p>
        Buy products from the confort of your home, no lines, no risk, no rush.
        Take your time to browse through our collection, save everything in the cart.
        When you are sure about the purchase, go a head fill your information.
        The stripe API is going to take care of all the security payment.
        This is the same system used by Amazon, google and shopify
    </p>

</div>


