@{
    ViewData["Title"] = "Andre's Store";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Andre's Store</h1>

    <p></p>

	<p>This is a Store project buildied with ASP.NET Core, SQL Server, Entiry Framework and Bootstrap</p>

   
</div>
