@{
    ViewData["Title"] = "Georgian Computers";
}

<div class="text-center">
    <h1 class="display-4">Welcome to GC</h1>

	<p>This project is for building web apps with ASP.NET Core, SQL Server, Entiry Framework and Bootstrap</p>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
